body{
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
}

div{
    text-align: center;
    padding: 8px;
}

#imagem{
    margin-top: 30px;
    border-radius: 50%;
    
}

#flista{
    width: 150px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}